<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.Gestor_DeportesConnectionString"
            connectionString="Data Source=EMAPA-PC\SPIA;Initial Catalog=Gestor_Deportes;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>